<ion-header>
  <ion-toolbar>
    <ion-title>DESCRIPTOGRAFAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #3e7cda;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Exportar Arquivo Criptografado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <input type="file" hidden #encryptedFileInput (change)="onEncryptedFileSelected($event)" />
      <ion-button expand="block" shape="round" (click)="encryptedFileInput.click()">
        Selecionar Arquivo Criptografado
      </ion-button>
      <div *ngIf="encryptedFileName">
        Arquivo selecionado: <strong>{{ encryptedFileName }}</strong>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Exportar Chave de Segurança</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <input type="file" hidden #keyFileInput (change)="onKeyFileSelected($event)" />
      <ion-button expand="block" shape="round" (click)="keyFileInput.click()">
        Selecionar Chave
      </ion-button>
      <div *ngIf="keyFileName">
        Chave selecionada: <strong>{{ keyFileName }}</strong>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="success" shape="round" [disabled]="!encryptedFile || !keyFile" (click)="decrypt()">
    Descriptografar Arquivo
  </ion-button>
</ion-content>
