<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="criptografar" [routerLink]="['/tabs/criptografar']">
      <img src="assets/icon/criptografado.png" style="width: 25px; height: 25px;" />
      <ion-label>Criptografar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="descriptografar" [routerLink]="['/tabs/descriptografar']">
      <img src="assets/icon/descriptografia.png" style="width: 25px; height: 25px;" />
      <ion-label>Descriptografar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="amigos" [routerLink]="['/tabs/amigos']">
      <img src="assets/icon/lista-de-amigos.png" style="width: 25px; height: 25px;" />
      <ion-label>Amigos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" [routerLink]="['/tabs/perfil']">
      <img src="assets/icon/perfil.png" style="width: 25px; height: 25px;" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

